@import "../base/common.scss";

.list-category {
  padding-bottom: 20px;
  padding-top: 30px;
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  .category {
    height: 60px;
    margin-bottom: 4px;
    &:last-child {
      margin-bottom: 0;
    }
    .btn-list-category {
      text-decoration: none;
      align-items: center;
      display: flex;
      padding: 17px 64px 17px 24px;
      position: relative;
    }
    span {
      @include t-title-01;
      color: $black;
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    span.dot {
      width: 3px;
      height: 3px;
      background: $black;
      margin-left: 6px;
      margin-right: 6px;
      margin-top: -5px;
    }
    label {
      background: $blue-dark;
      box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
      border-radius: 30px;
      @include t-etc-badge;
      text-align: center;
      color: $white;
      flex: none;
      order: 0;
      flex-grow: 0;
      padding: 3px 5px;
      margin-left: 8px;
      margin-top: -5px;
    }
  }
  .btn-list-category {
    &::after {
      content: "";
      background: url(../../image/icon/ico_arrow_medium.png);
      background-repeat: no-repeat;
      background-size: 28px 28px;
      display: inherit;
      width: 28px;
      height: 28px;
      right: 24px;
      top: 16px;
      position: absolute;
    }
  }
}
