@import "./layout";
@import "./checkbox";
@import "./_thumb_product";




.btn-checkbox-wrap{

	.btn-check-medium+.tooltip-info.show{
		top:calc(100% + 4px);
	}
	.btn-dropdown+.tooltip-info.show{
		top:calc(100% - 15px);
		width: calc(100% - 36px);
	}
}

.tooltip-info{
	display: none;
	&.show{
		display:unset;


		
	}
	position: absolute;
	background-color: $white;
	z-index: 2;
	box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	padding:20px;
    left: 50%;
	top:calc(100% + 4px);
    transform: translateX(-50%);
	>.txt-wrap{
	  @include pre-body-05-med;
	  display: flex;
	  flex-direction: column;
	  gap: 12px;
	  width: 260px;
	  text-align: left;
	  >.tooltip-title{
		color:$black;
	  }
	  >.tooltip-message{
		color:#a0a0a0;
	  }
	}
  }


.main-detail{
	.thumb-main{
		img{
			width: 100%;
		}
	}
	.info-product-main{
		margin: 20px 12px 0 12px;
		position: relative;
		.btn-share{
			cursor: pointer;
			border: none;
			background: transparent;
			position: absolute;
			right: 12px;
			top: 0;
			i{
				background: url("../../image/icon/btn-share.png");
				background-repeat: no-repeat;
				background-size: 24px 24px;
				display: inherit;
				width: 24px;
				min-width: 24px;
				height: 24px;
			}
		}
		.info-product{
			.title{
				display: block;
				padding: 0;
				margin-left: 12px;
				margin-right: 64px;
				padding-top: 4px;
				.txt-brand{
					@include pre-body-05-med;
					color: $dark-gray;
					max-width: 260px;
					max-height: 28px;
					overflow: hidden;
				}
				.txt-name{
					@include pre-title-02;
					color: $black;
					max-width: 260px;
					max-height: 72px;
					margin-top: 5px;
					overflow: hidden;
				}
			}
			.price-main{
				margin: 14px 12px 0 12px;
				position: relative;
				.price{
					.txt-first{
						@include pre-body-05-bold;
						color: $blue-dark;
					}
					>.price-final{
						display: flex;
							color: $black;
    					margin-top: 2px;
							margin-bottom: 6px;
							>.txt-price-final{
									@include pre-title-02;
							}
							>.txt-period {
									@include pre-body-05-bold;
									margin: 7px 0 3px 4px;
							}
					}
					>.txt-price-original{
						@include pre-body-05-med;
						color: $dark-gray;
						opacity: 0.5;
						margin-top: 6px;
					}
					.txt-01 {
						display: flex;
						>.txt-percent {
								@include pre-body-05-bold;
								color: $blue-dark;
						}
						>.txt-price-original {
								margin-left: 2px;
								@include pre-body-05-med;
								color: $dark-gray;
								text-decoration-line: line-through;
								opacity: 1;
						}
					}
					>.txt-02 {
							display: flex;
							color: $black;
    						margin-top: 2px;
							align-items: flex-end;
							>.txt-price-final{
									@include pre-title-02;
							}
							>.txt-period {
									@include pre-body-05-bold;
									margin: 3px 0 3px 4px;
    							align-self: flex-end;
							}
					}
				}
				.list-badge{
					display: flex;
					gap: 3px;
					margin-top: 14px;
				}
				.btn-small-ico{
					text-decoration: none;
					cursor: pointer;
					position: absolute;
					right: 0;
					top: 16px;
					border: 1px solid #000000;
					box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.06);
					border-radius: 30px;
					display: flex;
					align-items: center;
					background: $white;
					height: 24px;
					span{
						@include pre-body-05-bold;
						color: $black;
						letter-spacing: -0.06em;
						margin: 5px 0 5px 9px;
					}
					i{
						background: url("../../image/icon/ico-download.png");
						background-repeat: no-repeat;
						background-size: 12px 12px;
						display: inherit;
						width: 12px;
						min-width: 12px;
						height: 12px;
						margin: 6px 8px 6px 1px;
					}
				}
			}
		}
		.info-condition{
			background: $white-milk;
			border-radius: 14px;
			padding: 12px 20px;
			margin-top: 30px;
			display: flex;
			justify-content: center;
			align-items: center;
			p{
				@include pre-body-05-med;
				color: $black;
				display: -webkit-box;
				-webkit-line-clamp: 2;
				-webkit-box-orient: vertical;
				overflow: hidden;
				max-width: 296px;
				max-height: 28px;
				text-align: center;
				letter-spacing: -0.06em;
			}
		}
	}
	.dropdown{
		&.show{
			.btn-dropdown{
				.price{
					i{
						background: url("../../image/icon/ico-arrow-small-up.png");
						background-repeat: no-repeat;
						background-size: 14px 14px;
						display: inherit;
						width: 14px;
						min-width: 14px;
						height: 14px;
						margin-left: 6px;
					}
				}
			}
			.list-info{
				//display: block;
				height:100%;
			}
			
		}
	}
	.list-dropdown{
		margin: 0 12px;
		margin-top: 30px;
		border-bottom: 1px solid #f6f6f6;
		.btn-dropdown{
			position:relative;
			border: none;
			display: flex;
			width: 100%;
			padding: 0 12px;
			height: 61px;
			align-items: center;
			border-top: 1px solid $white-milk;
			background: $white;
			justify-content: space-between;
			.txt-title{
				@include pre-body-03-bold;
				color: $black;
				display: flex;
				align-items: center;
				i{
					background: url("../../image/icon/btn-info-small.png");
					background-repeat: no-repeat;
					background-size: 20px 20px;
					display: inherit;
					width: 20px;
					min-width: 20px;
					height: 20px;
					margin-left: 4px;
				}
			}
			.price{
				display: flex;
				align-items: center;
				.txt-percent{
					@include pre-body-03-med;
					color: $blue-dark;
				}
				.txt-price{
					@include pre-body-03-med;
					color: $black;
					margin-left: 2px;
				}
				i{
					background: url("../../image/icon/ico-arrow-small-down.png");
						background-repeat: no-repeat;
						background-size: 14px 14px;
						display: inherit;
						width: 14px;
						min-width: 14px;
						height: 14px;
						margin-left: 6px;
				}
			}
			.tooltip-info{
				top:calc( ( 60px + 20px ) / 2 + 4px + 1px );
			}
		}
		.list-info{
			//display: none;
    		overflow: hidden;

			height:0px;
			
			transition: height 0.5s ease-in;

			// &.show{
			// 	display: block;
			// }
			.list-main{
				border-top: 1px solid $white-milk;
				padding: 20px 0;
				.txt-title{
					@include pre-body-05-bold;
					color: $dark-gray;
					margin-left: 12px;
    				margin-bottom: 16px;
					width: 170px;
				}
				.list{
					margin: 0 12px;
					gap: 14px;
					display: grid;
					.btn-check-medium{
						position: relative;
						height: 20px;
						input{
							width: 16px;
							height: 16px;
						}
						span{
							@include pre-body-05-med;
							color: $black;
							padding: 0;
							margin-left: 8px !important;
							&.txt-title{
								max-width: 174px;
								text-overflow: ellipsis;
								white-space: nowrap;
								display: block;
								overflow: hidden;
								margin: 0;
								width: 100%;
							}
							&.price{
								margin-left: auto !important;
								width: 60px;
								text-align: end;
							}
						}

						button + span.txt-title {
							max-width: 162px;

						}
						
						.btn-txt-more-underline{
							margin-left: 4px;
							padding-left: 0;
							@include pre-body-05-med;
							color: $dark-gray;
							border-bottom: 1px solid $dark-gray;
							border: none;
							background: transparent;
							text-decoration: underline;
							text-underline-offset: 3px;
						}
						.btn-xsmall-ico{
							background: rgb(0 0 0 / 5%);
							border-radius: 30px;
							border: none;
							@include pre-etc-badge-med;
							
							display: flex;
							align-items: center;
							padding: 4px 6px;
							color: $dark-gray;
							margin-left: 8px;
							letter-spacing: -0.06em;
							// span{
							// 	color: $dark-gray !important;
							// 	padding: 0;
							// }
							.ico-download{
								background: url("../../image/icon/ico-download-white.png");
								background-repeat: no-repeat;
								background-size: 9px 9px;
								display: inherit;
								width: 9px;
								min-width: 9px;
								height: 9px;
							}
							&.active{
								opacity: 1;
								color: $white;
								background: #000000;
							}
						}
					}
				}
			}
		}
		.dropdown-shipping-single{
			.list{
				border-top: 1px solid #f6f6f6;
    		padding: 20px 12px;
				&:last-child{
					border-bottom: 1px solid #f6f6f6;
				}
				.txt-title{
					@include pre-body-05-bold;
					color: $dark-gray;
    			margin-bottom: 16px;
					width: 170px;
				}
				.txt-info{
					gap: 14px;
					display: grid;
					p{
						@include pre-body-05-med;
						color: $black;
					}
					.txt{
						display: flex;
						justify-content: space-between;
						
						p{
							@include pre-body-05-med;
						}
						.start{
							width: 164px;
							min-width: 164px;
						}
						.end{
							width: 128px;
							min-width: 128px;
							text-align: end;
						}
					}
				}
			}
		}
		
	}
}



