
@mixin background-img($url) {
    @if ($url != ''){
        background-image: url($url);
        background-size: contain;
        background-repeat: no-repeat;
    }
}

.popup-center-01{
    padding : 30px 18px 18px;
    background-color: #fff;
    border-radius: 30px;
    //width: 312px;


    img{
        width: 100%;
        margin-bottom: 20px;
    }
    
    .con-all-task-01{
        text-align: center;
        padding : 0 0 28px;
        >*{
            letter-spacing: -1px;
        }
        >.tit{
            padding-bottom: 6px;
            @include font-package('Pretendard',normal, 700, 16px, 20px, -1px);
        }
        >.content{
            font-size : 14px;
            @include font-package('Pretendard',normal, 400, 14px, 20px, -1px);

            display: flex;
            justify-content: center;
            >span{
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                max-width: 67px 68px;
            }
        }
    }
    button{
        margin: 0 auto;
    }

}



main, .present{
    width: 100%;
    height: 100%;
    .popup-center-01, .popup-center-02 {
        position: fixed;
        z-index: 999;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-width: 312px;
      }
      .background-overlay {
        background: #000000;
        opacity: 0.5;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 100;
        // display: none;
      }
}



.popup-center-02{
    @extend .popup-center-01;
    .btn-area{
        font-size: 0;
        button{
            width: calc(50% - 4px);
            display: inline-flex;
        }
        button + button{
            margin-left: 8px;
        }
    }
}


.popup-bottom-event{
    .title-bar{
        label{
            font-size: 0;
        }
        position: relative;
        height: 20px;
        cursor: pointer;
        padding: 0 24px 0 33px;
        user-select: none;
        >label{
            height : 20px;
            cursor: pointer;
            * {
                display: inline-block;
                vertical-align: middle;
            }
        }
        input{
            margin-right: 6px;
        }
        h5{
            @include font-pretendard;
            @include font-package('',normal, 700, 14px, 20px, -1px);
            color: #fff;
        }
        span{
            position: absolute;
            right: 26px;
            
        }
    }
    .content{
        position: relative;
        height: 300px;
        background-color: #fff;
        margin-top: 10px;
        border-radius: 30px 30px 0 0;
        padding: 30px 24px;
        @include background-img('');

        >.txt-subtitle{
            position: relative;
            @include font-pretendard;
            *{
                letter-spacing: -1px;
                display: inline-block;
            }
            p{
                @include font-package('',normal, 400, 14px, 20px, -1px);
                width : 240px;
                height : 20px;
            }
            h6{
                @include font-package('',normal, 500, 11px, 11px, -1px);
                color: #fff;
                text-align: center;
            }
            .pageindicator-num{
                position: absolute;
                right : 0;
            }
        }
        >.txt-title{
            @include font-package('T Universe Sans TTF',normal, 500, 24px, 30px, -1px);
            width: 312px;
            height : 60px;
            margin-top: 10px;
            overflow: hidden;
        }
        >.btn-main-task-floating{
            position: absolute;
            >button{
                margin: 0 auto;
                bottom : 18px;
            }
        }
    }
}



.popup-bottom-share{
    .header-bottomsheet{
        padding: 20px 20px 12px;
        text-align: end;
        img{
            width: 28px;
        }
    }
    .content{
        height : 278px;
        background-color: #fff;
        text-align: center;
        padding: 0px 24px 58px;
        >img{
            border-radius: 15px;
            width : 80px;
            height : 80px;
        }
        >p{
            margin: 20px 0 36px;
            @include font-package('Pretendard',normal, 700, 14px, 20px, -1px);

            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;

            /*ie 고려*/
            height : 40px;
        }
        >.btn-share{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-content: center;
            justify-content: center;
            font-size: 0;
            gap: 30px;
            > .obj {
                display: inline-block;
                background-color: inherit;
                border: none;
                width: 44px;
                height: 44px;
                &:nth-child(1) i {
                    display: inherit;
                    width: 100%;
                    height : 100%;
                    background: url("../../image/icon/img-logo-kakao.png");
                    background-repeat: no-repeat;
                    background-size: 44px 44px;
                }
                &:nth-child(2) i {
                    display: inherit;
                    width: 100%;
                    height : 100%;
                    background: url("../../image/icon/ico-sns-facebook.png");
                    background-repeat: no-repeat;
                    background-size: 44px 44px;
                }
                &:nth-child(3) i {
                    display: inherit;
                    width: 100%;
                    height : 100%;
                    background: url("../../image/icon/ico-sns-twitter.png");
                    background-repeat: no-repeat;
                    background-size: 44px 44px;
                }
                &:nth-child(4) i {
                    display: inherit;
                    width: 100%;
                    height : 100%;
                    background: url("../../image/icon/img-url.png");
                    background-repeat: no-repeat;
                    background-size: 44px 44px;
                }
            }
        }
    }
}


.popup-bottom-noti{
    width: 100%;
    height : 333px;
    background-color: #fff;
    border-radius: 30px 30px 0px 0px;
    position: relative;
    max-width: 520px;
    margin : 0 auto;
    .img-area{
        padding: 30px 24px 16px;
        text-align: center;
        >img, .obj{
            width: 78px;
            height : 80px;
        }
    }
    .txt{
        text-align: center;
        .txt-title{
            @include font-package('Pretendard',normal, 700, 18px, 24px, -1px);
        }
        .txt-bodycopy{
            padding-top: 6px;
            @include font-package('Pretendard',normal, 400, 14px, 20px, -1px);
        }
    }
    .btn-main-task{
        bottom: calc(env(safe-area-inset-bottom) + 61px);
    }
    .btn-name{
        position: absolute;
        bottom: calc(env(safe-area-inset-bottom) + 30px);
        width: 100%;
        vertical-align: bottom;
        text-align: center;
        button{
            @include font-package('Pretendard',normal, 700, 12px, 14px, -1px);
            background: inherit;
            border: none;
            border-bottom: 1px solid #000;
        }
    }




}

.popup-bottom-info-agreement{
    width: 100%;
    max-width: 520px;
    margin : 0 auto;
    .header-bottomsheet{
        padding: 20px 20px 12px;
        text-align: end;
        img{
            width: 28px;
        }
    }
    .content{
        height : 236px;
        background-color: #fff;
        position: relative;
        >h5{
            @include font-package('Pretendard',normal, 700, 18px, 24px, -1px);
            margin: 0 24px;
        }
        >.btn-txt-area{
            margin: 30px 24px 0;
            >.btn-txt{
                cursor: pointer;
                display: flex;
                justify-content: space-between;
                align-items: center;
                position: relative;
                >a{
                    cursor: pointer;
                    position: absolute;
                    width: 100%;
                    height: 100%
                    
                }
                >.txt{
                    @include font-package('Pretendard',normal, 400, 14px, 20px, -1px);
                }
                
                >button{
                    border: 0;
                    background-color: inherit;
                    width: 14px;
                    height: 14px;   
                    i{
                        background: url(../../image/icon/btn-arrow-small.png);
                        background-repeat: no-repeat;
                        background-size: 100%;
                        display: inherit;
                        width: 100%;
                        height: 100%;

                    }
                }
            }
            .btn-txt + .btn-txt{
                margin-top: 15px;
            }
        }
        >button{
            margin: 0 auto;
            bottom : 18px;
        }
        
    }
}