<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN" "http://www.w3.org/TR/html4/frameset.dtd">
<html lang="ko">

<head>
  <meta name="viewport"
    content="width=device-width,initial-scale=1,viewport-fit=cover,maximum-scale=1,user-scalable=no" />
  <meta charset="utf8" />
  <title>Subscribe component pages</title>
  <link rel="stylesheet" href="../../styles/css/Content-Component.css" />
  <!-- <link rel="stylesheet" href="../../styles/css/test.css" /> -->

</head>

<body>
  <div class="t-component-container">
    <div class="t-component-common component-header">
      <div class="t-guide-title">Banner</div>




      <div class="t-component">
        <div class="t-component-title">banner-01</div>
        <!-- banner-01 -->
        <div class="banner banner-01">
          <div class="txt-title">
            <h1>오픈 예정<br>
              상품이에요</h1>
            <p class="txt-sub">
              <i class="ico-info"></i>
              <span>이제 곧 T 우주에서 만나볼 수 있어요</span>
            </p>
          </div>
          <a href="#" class="img-banner-01 mt-20">
            <img src="../../image/icon/img-banner-01-txt-info.png">
          </a>
          <div class="txt-info">
            <div class="price">
              <p>
                <span class="txt-date">4월 24일 13시</span>
                <span class="txt-dday">D-7</span>
              </p>
              <div class="info-product-hor-3">
                <p class="txt-price">
                  <span class="txt-firstmonth">10%</span>
                  <span class="txt-sale-price">9,900원</span>
                  <span class="txt-period">/ 1주</span>
                </p>
              </div>
            </div>
            <button class="btn-more-arrow-txt-2"><i></i>보러 가기</button>
          </div>
        </div>
      </div>

      <div class="t-component">
        <div class="t-component-title">banner-02</div>
        <!-- banner-02 -->
        <div class="banner">
          <div class="txt-title">
            <h1>내게 맞는 상품이<br>
              궁금하다면?</h1>
            <p class="txt-sub">
              <i class="ico-ai"></i>
              <span>AI가 꼭 맞는 상품을 찾아드려요</span>
            </p>
          </div>
          <a href="#" class="img-banner-01 mt-20">
            <img src="../../image/icon/img-banner-02-txt-info.png">
          </a>
        </div>
      </div>

      <div class="t-component">
        <div class="t-component-title">banner-03</div>
        <!-- banner-03 -->
        <div class="banner">
          <div class="txt-title">
            <h1>우리 가족 친구와<br>함께 구독하기</h1>
            <p class="txt-sub">
              <i class="ico-info"></i>
              <span>최대 3명까지 초대할 수 있어요</span>
            </p>
          </div>
          <a href="#" class="img-banner-01 mt-20">
            <img src="../../image/icon/img-banner-03-txt-info.png">
          </a>
        </div>
      </div>

      <div class="t-component">
        <div class="t-component-title">package img (주의사항 : 피그마와 가이드)</div>
        <!-- package img -->
        <div class="package package-img">
          <div class="txt">
            <h1 class="txt-main">이런 조합은<br>
              어때요?</h1>
            <p class="txt-sub">
              <i class="ico-info"></i>
              <span>라이프스타일에 따라 묶어서 구독해보세요</span>
            </p>
          </div>
          <div class="package package-list">
            <div class="txt-title">
              <p class="txt-sub">
                묶음 상품
              </p>
              <p class="txt-main">
                <span class="txt-keyword">자취생자취생자취생자취생자취생자취생자취생자취생자취생자취생자취생자취생자취생자취생</span>
                <span>조합</span>
              </p>
            </div>
            <div class="swipe">
              <div class="swipe-item">
                <div class="area-img">
                  <img src="../../image/icon/tmp-img-thumb-package.png" alt="">
                </div>
                <div class="info">
                  <div class="info-product-hor-3">
                    <div class="txt-price">
                      <span class="txt-sale-price">12,900원</span>
                      <span class="txt-period">/ 2주</span>
                    </div>
                    <label class="badge-blue-1">NEW</label>
                  </div>
                  <button class="btn-more-arrow-txt-2"><i></i>구성 확인</button>
                </div>
              </div>
              <div class="swipe-item">
                <div class="list">
                  <div class="product">
                    <div class="thumb-product-xs">
                      <img src="../../image/icon/tmp-img-thum-package-list-01.png" class="area_img">
                    </div>
                    <div class="info-product-hor-1">
                      <p class="txt-brand">CU</p>
                      <p class="txt-name">CU 매장 구매 1천원당 300원 할인</p>
                    </div>
                  </div>
                  <div class="product">
                    <div class="thumb-product-xs">
                      <img src="../../image/icon/tmp-img-thum-package-list-02.png" class="area_img">
                    </div>
                    <div class="info-product-hor-1">
                      <p class="txt-brand">
                        <span>배달의민족 쿠폰팩 배달의민족 쿠폰팩 배달의민족 쿠폰팩 배달의민족 쿠폰팩 배달의민족 쿠폰팩</span>
                      </p>
                      <p class="txt-name">배달의민족 5천원 쿠폰 + 배민1 3<br>천원 쿠폰</p>
                    </div>
                  </div>
                </div>
                <div class="info">
                  <div class="info-product-hor-3">
                    <div class="txt-price">
                      <span class="txt-sale-price">8,900원</span>
                      <span class="txt-period">/ 2주</span>
                    </div>
                    <label class="badge-blue-1">NEW</label>
                  </div>
                  <button class="btn-add-plus-txt"><i></i>구성 담기</button>
                </div>
              </div>
              <div class="swipe-item">
                <div class="list">
                  <div class="product">
                    <div class="thumb-product-xs">
                      <img src="../../image/icon/tmp-img-thum-package-list-01.png" class="area_img">
                    </div>
                    <div class="info-product-hor-1">
                      <p class="txt-brand">CU</p>
                      <p class="txt-name">CU 매장 구매 1천원당 300원 할인</p>
                    </div>
                  </div>
                  <div class="product">
                    <div class="thumb-product-xs">
                      <img src="../../image/icon/tmp-img-thum-package-list-02.png" class="area_img">
                    </div>
                    <div class="info-product-hor-1">
                      <p class="txt-brand">
                        <span>배달의민족 쿠폰팩 배달의민족 쿠폰팩 배달의민족 쿠폰팩 배달의민족 쿠폰팩 배달의민족 쿠폰팩</span>
                      </p>
                      <p class="txt-name">배달의민족 5천원 쿠폰 + 배민1 3<br>천원 쿠폰</p>
                    </div>
                  </div>
                </div>
                <div class="info">
                  <div class="info-product-hor-3">
                    <div class="txt-price">
                      <span class="txt-sale-price">8,900원</span>
                      <span class="txt-period">/ 2주</span>
                    </div>
                    <label class="badge-blue-1">NEW</label>
                  </div>
                  <button class="btn-add-plus-txt"><i></i>구성 담기</button>
                </div>
              </div>
            </div>
            
            <div class="pageindicator">
              <!-- 비활성 : unselected , 활성 : selected -->
              <!-- <div class="selected"></div>
              <div class="unselected"></div> -->
            </div>
          </div>

        </div>
      </div>

      <div class="t-component">
        <div class="t-component-title">package img case 1(case 2 와 디자인 틀림, 가이드만 보세요, 많이 틀림)</div>
        <!-- package img case 1 -->
        <div class="package package-list">
          <div class="package">
            <div class="txt-title">
              <p class="txt-sub">
                묶음 상품
              </p>
              <p class="txt-main">
                <span class="txt-keyword">자취생자취생자취생자취생자취생자취생자취생자취생자취생자취생자취생자취생자취생자취생</span>
                <span>조합</span>
              </p>
            </div>
            <div class="list">
              <div class="product">
                <div class="thumb-product-xs">
                  <img src="../../image/icon/tmp-img-thum-package-list-01.png" class="area_img">
                </div>
                <div class="info-product-hor-1">
                  <p class="txt-brand">CU</p>
                  <p class="txt-name">CU 매장 구매 1천원당 300원 할인</p>
                </div>
              </div>
              <div class="product">
                <div class="thumb-product-xs">
                  <img src="../../image/icon/tmp-img-thum-package-list-02.png" class="area_img">
                </div>
                <div class="info-product-hor-1">
                  <p class="txt-brand">
                    <span>배달의민족 쿠폰팩 배달의민족 쿠폰팩 배달의민족 쿠폰팩 배달의민족 쿠폰팩 배달의민족 쿠폰팩</span>
                  </p>
                  <p class="txt-name">배달의민족 5천원 쿠폰 + 배민1 3<br>천원 쿠폰</p>
                </div>
              </div>
            </div>
            <div class="info">
              <div class="info-product-hor-3">
                <div class="txt-price">
                  <span class="txt-sale-price">8,900원</span>
                  <span class="txt-period">/ 2주</span>
                </div>
                <label class="badge-blue-1">NEW</label>
              </div>
              <button class="btn-add-plus-txt"><i></i>구성 담기</button>
            </div>
            <div class="pageindicator">
              <!-- 비활성 : unselected , 활성 : selected -->
              <div class="selected"></div>
              <div class="unselected"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="t-component">
        <div class="t-component-title">package img case 2(case 1 와 디자인 틀림, 가이드만 보세요, 많이 틀림)</div>
        <!-- package img case 2 -->
        <div class="package package-list">
          <div class="package">
            <div class="txt-title">
              <p class="txt-sub">
                묶음 상품
              </p>
              <p class="txt-main">
                <span class="txt-keyword">자취생자취생자취생자취생자취생자취생자취생자취생자취생자취생자취생자취생자취생자취생</span>
                <span>조합</span>
              </p>
            </div>
            <div class="list">
              <div class="product">
                <div class="thumb-product-xs">
                  <img src="../../image/icon/tmp-img-thum-package-list-01.png" class="area_img">
                </div>
                <div class="info-product-hor-1">
                  <p class="txt-brand">CU</p>
                  <p class="txt-name">CU 매장 구매 1천원당 300원 할인</p>
                </div>
              </div>
              <div class="product">
                <div class="thumb-product-xs">
                  <img src="../../image/icon/tmp-img-thum-package-list-02.png" class="area_img">
                </div>
                <div class="info-product-hor-1">
                  <p class="txt-brand">
                    <span>배달의민족 쿠폰팩 배달의민족 쿠폰팩 배달의민족 쿠폰팩 배달의민족 쿠폰팩 배달의민족 쿠폰팩</span>
                  </p>
                  <p class="txt-name">배달의민족 5천원 쿠폰 + 배민1 3<br>천원 쿠폰</p>
                </div>
              </div>
              <div class="product">
                <div class="thumb-product-xs">
                  <img src="../../image/icon/tmp-img-thum-package-list-03.png" class="area_img">
                </div>
                <div class="info-product-hor-1">
                  <p class="txt-brand">
                    <span>투썸플레이스</span>
                  </p>
                  <p class="txt-name">투썸플레이스 전 상품 30% 할인</p>
                </div>
              </div>
            </div>
            <div class="info">
              <div class="info-product-hor-3">
                <div class="txt-price">
                  <span class="txt-sale-price">12,900원</span>
                  <span class="txt-period">/ 2주</span>
                </div>
                <label class="badge-blue-1">NEW</label>
              </div>
              <button class="btn-add-plus-txt"><i></i>구성 담기</button>
            </div>
            <div class="pageindicator">
              <!-- 비활성 : unselected , 활성 : selected -->
              <div class="selected"></div>
              <div class="unselected"></div>
            </div>
          </div>
        </div>
      </div>






    </div>
  </div>








  <div class="t-component-common component-header">
    <div class="t-guide-title">survey</div>
    <div class="t-component">
      <div class="t-component-title">survey default</div>
      <!--********** component : header-main area start **********-->
      <div class="survey">
        <div class="txt-title">
          <h1 class="txt-main">매달 그림이<br>배송된다면?</h1>
          <p class="txt-sub">
            <i></i>
            <span>
              취향에 맞는 상품을 찾아드릴께요
            </span>
          </p>
        </div>
        <div class="survey-list">
          <div class="btn-survey-option default">
            <p class="txt-option">
              좋아요
            </p>
            <i class="ico-like"></i>
          </div>
          <div class="btn-survey-option default">
            <p class="txt-option">
              싫어요
            </p>
            <i class="ico-dis-like"></i>
          </div>
        </div>
      </div>
      <!--********** component : header-main area end **********-->
    </div>

    <div class="t-component">
      <div class="t-component-title">survey pressed loading</div>
      <!--********** component : header-main area start **********-->
      <div class="survey">
        <div class="txt-title">
          <h1 class="txt-main">매달 그림이<br>배송된다면?</h1>
          <p class="txt-sub">
            <i></i>
            <span>
              취향에 맞는 상품을 찾아드릴께요
            </span>
          </p>
        </div>
        <div class="survey-list">
          <div class="btn-survey-option default selected">
            <p class="txt-option">
              좋아요
            </p>
            <i class="ico-like"></i>
          </div>
          <div class="btn-survey-option default">
            <p class="txt-option">
              싫어요
            </p>
            <i class="ico-dis-like"></i>
          </div>
        </div>
        <div class="txt-loading">
          <div class="txt">
            <p>취향에 딱 맞는 상품을 찾는 중이에요</p>
            <p>잠시만 기다려 주세요..</p>
          </div>
          <div class="loading">
            <div class="loading-animation-70-blue active"></div>
          </div>
        </div>
      </div>
      <!--********** component : header-main area end **********-->
    </div>

    <div class="t-component">
      <div class="t-component-title">survey result</div>
      <!--********** component : header-main area start **********-->
      <div class="survey">
        <div class="txt-title">
          <h1 class="txt-main">매달 그림이<br>배송된다면?</h1>
          <p class="txt-sub">
            <i></i>
            <span>
              취향에 맞는 상품을 찾아드릴께요
            </span>
          </p>
        </div>
        <div class="survey-list">
          <div class="btn-survey-option disable-stroke selected">
            <p class="txt-option">
              좋아요 text text text text text text text text text text
              text text text text text text text text text text text
            </p>
            <div class="progess-bar">
              <p>좋아요 text text text text text text text text text text
                text text text text text text text text text text text</p>
            </div>
            <div class="txt-percentage">
              <p>83%</p>
            </div>
          </div>
          <div class="btn-survey-option disable-gray">
            <p class="txt-option">
              싫어요
            </p>
            <div class="txt-percentage">
              <p>17%</p>
            </div>
          </div>
        </div>
        <div class="result">
          <p class="txt-sub">
            <i></i>
            <span>
              한 달에 한 번, 새로운 작품을 만나보세요!
            </span>
          </p>
          <div class="thumb-product-s">
            <div class="product">
              <div class="thumb-product-xs">
                <img src="../../image/icon/tmp_img_thum_45.png" class="area_img">
              </div>
              <div class="info-product-hor-1">
                <p class="txt-brand">T 우주패키지 slim</p>
                <p class="txt-name">매달 아트 프린트 무료배송</p>
                <p class="txt-price">
                  <span class="txt-percentage">10%</span>
                  <span class="txt-sale-price">15,900원</span>
                  <span class="txt-period">/ 1주</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--********** component : header-main area end **********-->
    </div>

   


   
  </div>
  </div>
  <script src="../../scripts/swipe.js"></script>
</body>

</html>