<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN" "http://www.w3.org/TR/html4/frameset.dtd">
<html lang="ko">
  <head>
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,viewport-fit=cover,maximum-scale=1,user-scalable=no"
    />
    <meta charset="utf8" />
    <title>Content component pages</title>
    <link rel="stylesheet" href="../../styles/css/Use-Component.css" />
  </head>
  <body>
    <div class="t-component-container">


      <div class="t-component-common component-header">
        <div class="t-guide-title">Banner</div>






        <div class="t-guide-content guide-header">
          <div class="t-component">
            <div class="t-component-title">badge-num-block</div>


            <!--********** component : header-main area start **********-->

              <div class="badge-num-block">
                <h6>+1</h6>
              </div>

            <!--********** component : header-main area end **********-->

          </div>



          <div class="t-component">
            <div class="t-component-title">card_product-category</div>


            <!--********** component : header-main area start **********-->

              <div class="card_product-category">
                <div class="item">
                  <a href="#" class="acnchor"></a>
                  <p class="txt_category">할인 바코드</p>
                  <p class="txt_sub">결제할 때마다 할인 받아요</p>
                  
                </div>
                <div class="item">
                  <a href="#" class="acnchor"></a>
                  <p class="txt_category">할인 바코드</p>
                  <p class="txt_sub"><span>세븐일레븐 세븐일레븐</span>에서 바로 할인 받기</p>
                </div>
              </div>

            <!--********** component : header-main area end **********-->

          </div>

          <div class="t-component">
            <div class="t-component-title">card_product</div>


            <!--********** component : header-main area start **********-->

              <div class="card_product">

                <div class="item">
                  <a></a>
                    <div class="thumb-logo">
                      <div class="obj">
                        <img src="../../image/icon/thumb-sample.png">
                      </div>
                    </div>
                    <div class="txt">
                      <p class="txt_name">CU 4900</p>
                      <p class="txt_status">1일 1회 사용 가능</p>
                    </div>
                  </div>
                
              </div>

              <br>

              <div class="card_product">
                <div class="item">
                  <a></a>
                    <div class="thumb-logo">
                      <div class="obj">
                        <img src="../../image/icon/thumb-sample.png">
                      </div>
                    </div>
                    <div class="txt">
                      <p class="txt_name">CU 4900</p>
                      <p class="txt_status">1일 1회 사용 가능</p>
                    </div>
                    <button class="btn-header-barcode">
                      <img src="../../image/icon/ico-header-barcode2.png">
                    </button>
                  
                </div>

                <div class="item">
                  <a></a>
                    <div class="thumb-logo">
                      <div class="obj">
                        <img src="../../image/icon/thumb-sample.png">
                      </div>
                      <div class="badge-num-block">
                        <h6>+1</h6>
                      </div>
                    </div>
                    <div class="txt">
                      <p class="txt_name">CU 4900</p>
                      <p class="txt_status">1일 1회 사용 가능</p>
                    </div>
                    <button class="btn-header-barcode">
                      <img src="../../image/icon/ico-header-barcode2.png">
                    </button>
                  
                </div>

                <br>

                <div class="group">

                  <div class="item toucharea">
                    <a></a>
                      <div class="thumb-logo">
                        <div class="obj">
                          <img src="../../image/icon/thumb-sample.png">
                        </div>
                      </div>
                      <div class="txt">
                        <p class="txt_name">핀즐 그림 정기배송</p>
                        <p class="txt_status">배송준비중<i></i>4/27(금)<span>배송예정</span></p>
                      </div>
                    
                  </div>

                  <div class="item toucharea">
                    <a></a>
                      <div class="thumb-logo">
                        <div class="obj">
                          <img src="../../image/icon/thumb-sample.png">
                        </div>
                      </div>
                      <div class="txt">
                        <p class="txt_name">드롭탑 925 캡슐커피 Single 정기배송</p>
                        <p class="txt_status">교환 배송완료<i></i>4/27(금)<span>배송완료</span></p>
                      </div>
                    
                  </div>

                  <div class="item toucharea">
                    <a></a>
                      <div class="thumb-logo">
                        <div class="obj">
                          <img src="../../image/icon/thumb-sample.png">
                        </div>
                      </div>
                      <div class="txt">
                        <p class="txt_name">드롭탑 925 캡슐커피 Single 정기배송</p>
                        <p class="txt_status">교환 배송완료<i></i>4/27(금)<span>배송완료</span></p>
                      </div>
                    
                  </div>

                  <div class="item toucharea">
                    <a></a>
                      <div class="thumb-logo">
                        <div class="obj">
                          <img src="../../image/icon/thumb-sample.png">
                        </div>
                      </div>
                      <div class="txt">
                        <p class="txt_name">드롭탑 925 캡슐커피 Single 정기배송</p>
                        <p class="txt_status">교환 배송완료<i></i>4/27(금)<span>배송완료</span></p>
                      </div>
                    
                  </div>

                  <div class="item toucharea">
                    <a></a>
                      <div class="thumb-logo">
                        <div class="obj">
                          <img src="../../image/icon/thumb-sample.png">
                        </div>
                      </div>
                      <div class="txt">
                        <p class="txt_name">드롭탑 925 캡슐커피 Single</p>
                        <p class="txt_status">교환 배송완료<i></i>4/27(금)<span>배송완료</span></p>
                      </div>
                    
                  </div>

                </div>

                <br>

                <div class="group-all">

                  <div class="item toucharea">
                    <a></a>
                      <div class="thumb-logo">
                        <div class="obj">
                          <img src="../../image/icon/thumb-sample.png">
                        </div>
                      </div>
                      <div class="txt">
                        <p class="txt_name">핀즐 그림 정기배송</p>
                        <p class="txt_status">배송준비중<i></i>4/27(금)<span>배송예정</span></p>
                      </div>
                    
                  </div>

                  <div class="item toucharea">
                    <a></a>
                      <div class="thumb-logo">
                        <div class="obj">
                          <img src="../../image/icon/thumb-sample.png">
                        </div>
                      </div>
                      <div class="txt">
                        <p class="txt_name">드롭탑 925 캡슐커피 Single</p>
                        <p class="txt_status">교환 배송완료<i></i>4/27(금)<span>배송완료</span></p>
                      </div>
                    
                  </div>

                  <div class="item toucharea">
                    <a></a>
                      <div class="thumb-logo">
                        <div class="obj">
                          <img src="../../image/icon/thumb-sample.png">
                        </div>
                      </div>
                      <div class="txt">
                        <p class="txt_name">드롭탑 925 캡슐커피 Single 정기배송</p>
                        <p class="txt_status">교환 배송완료<i></i>4/27(금)<span>배송완료</span></p>
                      </div>
                    
                  </div>

                  <div class="item toucharea">
                    <a></a>
                      <div class="thumb-logo">
                        <div class="obj">
                          <img src="../../image/icon/thumb-sample.png">
                        </div>
                      </div>
                      <div class="txt">
                        <p class="txt_name">드롭탑 925 캡슐커피 Single 정기배송</p>
                        <p class="txt_status">교환 배송완료<i></i>4/27(금)<span>배송완료</span></p>
                      </div>
                    
                  </div>

                  <div class="item toucharea">
                    <a></a>
                      <div class="thumb-logo">
                        <div class="obj">
                          <img src="../../image/icon/thumb-sample.png">
                        </div>
                      </div>
                      <div class="txt">
                        <p class="txt_name">드롭탑 925 캡슐커피 Single 정기배송</p>
                        <p class="txt_status">교환 배송완료<i></i>4/27(금)<span>배송완료</span></p>
                      </div>
                   
                  </div>

                  <button class="all-view">
                    <div>
                      <p class="txt">전체보기</p>
                      <img src="../../image/icon/ico-arrow-small.png">
                    </div>
                  </button>

                </div>

              </div>

            <!--********** component : header-main area end **********-->

          </div>
     
          



          <div class="t-component">
            <div class="t-component-title">card-nudge</div>


            <!--********** component : header-main area start **********-->

              <div class="card-nudge">

                <div class="item">
                  <a></a>
                    <div class="thumb-logo">
                      <div class="obj">
                        <img src="../../image/icon/thumb-sample.png">
                      </div>
                    </div>
                    <div class="txt">
                      <p class="txt_name">배송대기</p>
                      <p class="txt_sub">지난 달 받은 상품, 다 사용하셨나요?</p>
                    </div>
                    <button class="card-nudge">
                      <p>자세히</p>
                    </button>
                  
                </div>

                <div class="item">
                  <a></a>
                    <div class="thumb-logo">
                      <div class="obj">
                        <img src="../../image/icon/thumb-sample.png">
                      </div>
                    </div>
                    <div class="txt">
                      <p class="txt_name">폴 바셋</p>
                      <p class="txt_sub">단돈 990원으로 구독하기</p>
                    </div>
                    <button class="card-nudge">
                      <p>자세히</p>
                    </button>
                  
                </div>


                <div class="item">
                  <a></a>
                    <div class="thumb-logo">
                      <div class="obj">
                        <img src="../../image/icon/thumb-sample.png">
                      </div>
                    </div>
                    <div class="txt">
                      <p class="txt_name">구독</p>
                      <p class="txt_sub"><span class="txt_num_26">41일구독</span>일 이후 구독이 취소될 수 있어요.</p>
                    </div>
                    <button class="card-nudge">
                      <p>자세히</p>
                    </button>
                  
                </div>


                <div class="item">
                  <a></a>
                    <div class="thumb-logo">
                      <div class="obj">
                        <img src="../../image/icon/thumb-sample.png">
                      </div>
                    </div>
                    <div class="txt">
                      <p class="txt_name">구독</p>
                      <p class="txt_sub">단돈<span  class="txt_num_50">만이천육백 원</span>으로 구독하기 ddddddddddddddddddddddd</p>
                    </div>
                    <button class="card-nudge">
                      <p>자세히</p>
                    </button>
                  
                </div>


                <div class="item">
                  <a></a>
                    <div class="thumb-logo">
                      <div class="obj">
                        <img src="../../image/icon/thumb-sample.png">
                      </div>
                    </div>
                    <div class="txt">
                      <p class="txt_name">관심</p>
                      <p class="txt_sub"><span  class="txt_num_70">키워드명명명명명</span>에 관심이 많으시군요</p>
                    </div>
                    <button class="card-nudge">
                      <p>자세히</p>
                    </button>
                  
                </div>


              </div>

            <!--********** component : header-main area end **********-->

          </div>



          <div class="t-component">
            <div class="t-component-title">card-noti</div>


            <!--********** component : header-main area start **********-->

              <div class="card-noti">
                <div class="item">
                  <div class="ico-error">
                    <img src="../../image/icon/ico-error.png">
                  </div>
                  <div class="txt">
                    <p class="txt_main">결제를 실패했어요</p>
                    <p class="txt_sub">2일 이내에 결제하지 않으면 구독이 취소돼요.</p>
                  </div>
                  <button class="btn-header-barcode">
                    <img src="../../image/icon/ico-arrow-medium-2-gray.png">
                  </button>
                </div>

                <div class="item">
                  <div class="ico-error">
                    <img src="../../image/icon/ico-error.png">
                  </div>
                  <div class="txt">
                    <p class="txt_main"><span>7</span>일 후 구독이 취소될 수 있어요</p>
                    <p class="txt_sub">구독 부탁드려요.</p>
                  </div>
                  <button class="btn-header-barcode">
                    <img src="../../image/icon/ico-arrow-medium-2-gray.png">
                  </button>
                </div>

                <div class="item">
                  <div class="ico-error">
                    <img src="../../image/icon/ico-error.png">
                  </div>
                  <div class="txt">
                    <p class="txt_main"><span class="txt_coupon">쿠폰쿠폰</span> 실패했어요</p>
                    <p class="txt_sub">2일 이내에 결제하지 않으면 구독이 취소돼요.</p>
                  </div>
                  <button class="btn-header-barcode">
                    <img src="../../image/icon/ico-arrow-medium-2-gray.png">
                  </button>
                </div>

                <div class="item">
                  <div class="ico-error">
                    <img src="../../image/icon/ico-error.png">
                  </div>
                  <div class="txt">
                    <p class="txt_main">결제를 실패했어요</p>
                    <p class="txt_sub"><span class="txt_num_18">99999</span>일 이내에 결제하지 않으면 구독이 취소돼요.</p>
                  </div>
                  <button class="btn-header-barcode">
                    <img src="../../image/icon/ico-arrow-medium-2-gray.png">
                  </button>
                </div>

                <div class="item">
                  <div class="ico-error">
                    <img src="../../image/icon/ico-error.png">
                  </div>
                  <div class="txt">
                    <p class="txt_main">결제를 실패했어요</p>
                    <p class="txt_sub"><span class="txt_username">임지은지은</span>님의 정보를 확인해주세요.</p>
                  </div>
                  <button class="btn-header-barcode">
                    <img src="../../image/icon/ico-arrow-medium-2-gray.png">
                  </button>
                </div>
              </div>

            <!--********** component : header-main area end **********-->

          </div>


        </div>
      </div>







        </div>
      </div>
  </body>
</html>
