@import "../layout/header";
@import "../base/style";
@import "../base/font";
@import "../base/common";
@import "../abstracts/spacing";
@import "../components/layout";
@import "../components/banner";
@import "../components/buttons";
@import "../components/popup_dropdown";
@import "../components/input";
@import "../components/icon";
@import "../components/toast_popup";


.header {
  position: relative !important;
}


button {
  color: #000;
}
.btn-add-small {
  background: none;
}

.main {
  padding-bottom: calc(env(safe-area-inset-bottom));
  // padding-top: 64px;
  .popup-dropdown.DSP-MO-4-TB-001 {
    li {
      cursor: pointer;
      &.active {
        font-weight: 700;
      }
    }
  }
  .tab-swipe-header {
    // background: #eee; //temp
    width: 100%;
    height: 51px;
    position: relative;
    border-bottom: none;
    overflow-x: hidden;
    .tab-category {
      border-bottom: 1px solid #f6f6f6;
      height: 50px;
      gap: 20px;
      list-style: none;
      display: flex;
      flex-direction: row;
      padding: 0 24px;
      margin: 0;
      overflow-x: scroll;
      background: $white;

      &::-webkit-scrollbar {
        display: none;
      }
      &.top {
        position: fixed;
        left: 0%;
        right: 0%;
        top: 0%;
        bottom: 0%;
        max-width: 520px;
        margin: 0 auto;
      }
      button {
        @include pre-body-04-reg;
        text-align: center;
        background-color: transparent;
        white-space: nowrap;
        cursor: pointer;
        border: none;
        color: $dark-gray;
        padding-top: 17px;
        padding-bottom: 13px;
        border-bottom: none;
        align-items: center;
        display: flex;
        .dot {
          background: #a0a0a0;
          width: 2px;
          height: 2px;
          display: block;
          margin: 0 2px;
          border-radius: 50%;
        }
      }
      button.active {
        @include pre-body-04-bold;
        color: $black;
        .dot {
          background-color: $black;
        }
        border-bottom: none;
      }
    }
  }
  .component-title {
    .title {
      @include t-title-01;
      color: $black;
      max-width: 220px;
      padding-top: 0;
      padding-right: 0;
      overflow: hidden;
      max-height: 60px;
    }
    .txt-sub {
      display: flex;
      align-items: center;
      margin: 8px 24px 20px 24px;
      max-width: 230px;
      p {
        margin-left: 4px;
        max-height: 20px;
        max-width: 230px;
        overflow: hidden;
        span {
          @include pre-body-04-reg;
          color: $black;
          max-height: 20px;
          max-width: 230px;
        }
        span.sub {
          max-width: 20px;
          text-overflow: ellipsis;
          white-space: nowrap;
          display: block;
          overflow: hidden;
          float: left;
        }
        span.txt-percentage {
          margin-left: 1px;
        }
      }
    }
    .icon {
      background: url("../../image/icon/ico-info.png");
      background-repeat: no-repeat;
      background-size: 18px 18px;
      display: inherit;
      width: 18px;
      min-width: 18px;
      height: 18px;
    }
    .ico-ai {
      background: url("../../image/icon/ico-ai.png");
      background-repeat: no-repeat;
      background-size: 42px 18px;
      display: inherit;
      width: 42px;
      min-width: 42px;
      height: 18px;
    }
  }
  .badge-product {
    margin-top: 7px;
    display: flex;
    align-items: flex-start;
    padding: 0px;
    gap: 3px;
    flex-wrap: wrap;
    label {
      @include pre-etc-badge-med-02;
      border-radius: 4px;
      padding: 3px 5px;
      white-space: nowrap;
    }
    .badge-blue {
      background: rgba(54, 23, 206, 0.05);
      color: $blue-dark;
    }
    .badge-gray {
      background: rgba(0, 0, 0, 0.03);
      opacity: 0.5;
    }
  }
  .card-pass {
    margin-top: 30px;
    .component-title {
      .txt-sub {
        max-width: 230px;
      }
    }
    .card {
      margin: 0 12px;
      display: flow-root;
      filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
      position: relative;

      > .top {
      }
      > .bottom {
      }

      .acnchor {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 0;
        cursor: pointer;
      }
      .txt-title {
        background-color: $white;
        padding-top: 40px;
        padding-left: 24px;
        border-top-right-radius: 30px;
        border-top-left-radius: 30px;
        i {
          background: url("../../image/icon/badge-pass.png");
          background-repeat: no-repeat;
          background-size: 34px 17px;
          display: inherit;
          width: 34px;
          min-width: 34px;
          height: 17px;
        }
        p {
          margin-top: 2px;
          @include pre-title-02;
          max-width: 142px;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }
      }
      .img-pass-cover {
        width: 160px;
        height: 144px;
        position: absolute;
        right: 0;
        top: -43px;
        img {
          width: 100%;
        }
      }
      .list {
        // gap: 11px;
        background-color: $white;
        display: grid;
        padding: 35px 24px 0 24px;
        .maskingarea {
          position: relative;
          height: 56px;
          // position: relative;
          margin-bottom: 16px;
          overflow-y: hidden;
          &::-webkit-scrollbar {
            display: none;
          }
          .product {
            display: none;
            position: absolute;
            transform: translateY(100%);
            // display: none;
            // opacity: 0;
            // position: absolute;
            width: 100%;
            // &.active{
            //     display: flex;
            //     opacity: 1;
            // }
            cursor: pointer;
            .info-product-hor {
              transform: translateY(20px);
            }
          }
        }
        .product {
          display: flex;
          justify-content: space-between;
          align-items: center;
          height: 56px;
          .img-text {
            display: flex;
            align-items: center;
            .img-logo {
              width: 48px;
              height: 48px;
              min-width: 48px;
              // margin-top: 4px;
              // margin-bottom: 4px;
              img {
                width: 100%;
              }
            }
            .info-product-hor {
              margin-left: 18px;
              // margin-right: 20px;
              max-width: 170px;
              .txt-brand {
                @include pre-body-05-med;
                color: $dark-gray;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                width: 170px;
              }
              .txt-name {
                @include pre-body-04-bold;
                color: $black;
                margin-top: 2px;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                width: 170px;
              }
            }
          }
          .badge-product-num {
            background: rgba(0, 0, 0, 0.7);
            -webkit-backdrop-filter: blur(2.5px);
            backdrop-filter: blur(2.5px);
            border-radius: 10px;
            margin-top: 22px;
            margin-bottom: 17px;
            span {
              margin: 3px 5px;
              @include t-etc-badge-bold-02;
              color: $white;
              white-space: nowrap;
              display: flex;
            }
          }
        }
      }
      .cut-padding {
        background-color: $white;
        height: 16px;
      }
      .cut {
        // margin-top: 16px;
        width: 100%;
        height: 25px;
        // margin-bottom: 22px;
        display: flex;
        align-items: center;

        > img {
          width: 100%;
          height: 100%;
        }

        //hr {
        //	border-style: dotted none none;
        //	background-size: 2px 2px;
        //    border-color: #D9D9D9;
        //    width: 100%;
        //}

        // .left{
        //     width: 5px;
        //     height: 25px;
        //     background: #000000;
        // }
        // .right{
        //     width: 5px;
        //     height: 25px;
        //     background: #000000;
        // }
        &::before {
          content: "";
          background: linear-gradient(to bottom, #232526, #414345);
        }
      }
      .info {
        .btn-add-plus-txt {
          padding: 7px 10px 7px 14px;
          gap: 2px;
        }

        background-color: $white;
        display: flex;
        padding: 0 24px 24px 24px;
        border-bottom-right-radius: 30px;
        border-bottom-left-radius: 30px;
        //height: 44px;
        justify-content: space-between;
        align-items: center;
        .info-product-hor {
          .txt-price {
            display: flex;
            gap: 2px;
            .txt-01 {
              @include pre-body-03-bold;
              color: $blue-dark;
            }
            .txt-02 {
              @include pre-body-03-bold;
              color: $black;
            }
            .txt-03 {
              @include pre-body-05-bold;
              color: $black;
              margin-top: 4px;
              margin-bottom: 2px;
            }
          }
        }
      }
    }
  }
  .product {
    text-decoration: none;
    .thumb-product-m,
    .thumb-product-l,
    .thumb-product-s {
      width: 136px;
      height: 136px;
      position: relative;
      border-radius: 20px;
      background-color: rgba(0, 0, 0, 0.03);
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .btn-add-small {
        display: flex;
        width: 26px;
        height: 26px;
        cursor: pointer;
        border: none;
        -webkit-backdrop-filter: blur(2.5px);
        backdrop-filter: blur(2.5px);
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 12px;
        right: 12px;
        i {
          width: 16px;
          height: 16px;
          background: url("../../image/icon/ico-plus.png");
          background-size: 16px;
          background-repeat: no-repeat;
        }
      }
      .background {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        border-radius: 20px;
        &.gray {
          background: rgba(0, 0, 0, 0.03);
        }
      }
    }
    .thumb-product-l {
      width: 150px;
      height: 150px;
    }
    .thumb-product-s {
      width: 120px;
      height: 120px;
      .btn-add-small {
        bottom: 10px;
        right: 10px;
      }
    }

    .info-product-ver {
      margin-top: 16px;
      width: 130px;
      .info-product {
        .product-title {
          .txt-brand {
            @include pre-body-05-med;
            color: $dark-gray;
          }
          .txt-name {
            margin-top: 2px;
            @include pre-body-04-bold;
            color: $black;
          }
        }
        .price {
          margin-top: 8px;
          margin-bottom: 10px;
          .txt-price.discount {
            display: block;
            .txt-02 {
              margin: 0;
            }
          }
          .txt-price {
            .txt_firstmonth {
              @include pre-body-05-bold;
              color: $blue-dark;
            }
            .txt {
              display: flex;
            }
            .txt-01 {
              display: flex;
              @include pre-body-03-bold;
              color: $black;
              .txt-percentage {
                @include pre-body-05-bold;
                color: $blue-dark;
              }
              .txt-original-price {
                margin-left: 2px;
                @include pre-body-05-med;
                color: $dark-gray;
                text-decoration-line: line-through;
              }
            }
            .txt-02 {
              display: flex;
              @include pre-body-05-bold;
              color: $black;
              margin: 5px 0 1px 2px;
              .txt-sale-price {
                @include pre-body-03-bold;
              }
              .txt-period {
                @include pre-body-05-bold;
                margin-top: 5px;
                margin: 5px 0 1px 2px;
              }
            }
          }
        }
      }
    }
    .info-product-ver-02 {
      margin-top: 12px;
      width: 95px;
      .txt-productname {
        @include pre-body-05-med;
        color: $dark-gray;
        max-width: 90px;
      }
      .txt-price {
        display: flex;
        margin-top: 2px;
        .txt-sale-price {
          @include pre-body-03-bold;
          color: $black;
        }
        .txt-period {
          @include pre-body-05-bold;
          color: $black;
          margin: 5px 0 1px 2px;
        }
      }
    }
    .badge-product {
      margin-top: 0px;
    }
  }
  .list-product-horizontal {
    margin-top: 70px;
    .list-product-scrol {
      overflow-x: auto;
      flex-direction: row;
      overflow-y: hidden;
      display: flex;
      &::-webkit-scrollbar {
        display: none;
      }
    }
    .list-product {
      display: flex;
      gap: 10px;
      margin: 0;
      padding: 0 24px;
    }
  }
  .list-product {
    margin-top: 70px;

    .filter-option {
      display: none;
      &.active {
        display: flex;
        justify-content: flex-start;
      }
      height: 45px;
      align-items: center;
      // justify-content: space-between;
      border-top: 1px solid $white-milk;
      button {
        text-align: center;
        background-color: transparent;
        white-space: nowrap;
        cursor: pointer;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        span {
          @include pre-body-04-bold;
        }
      }
      .btn-reset {
        margin: 8px 10px 8px 12px;
        button {
          background: $white;
          border: 1px solid #eeeeee;
          border-radius: 35px;
          width: 36px;
          height: 28px;
          i {
            background: url("../../image/icon/ico-refresh.png");
            background-repeat: no-repeat;
            background-size: 20px 20px;
            display: inherit;
            width: 20px;
            min-width: 20px;
            height: 20px;
          }
        }
      }
      .btn-filter-scroll {
        list-style: none;
        display: flex;
        flex-direction: row;
        overflow-x: scroll;
        &::-webkit-scrollbar {
          display: none;
        }
      }
      .btn-filter-options {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 4px;
        margin-right: 12px;
        button {
          background: $black;
          border-radius: 14px;
          span {
            margin: 4px 0 4px 12px;
            color: $white;
          }
          i {
            background: url("../../image/icon/ico-filter-x.png");
            background-repeat: no-repeat;
            background-size: 16px 16px;
            display: inherit;
            width: 16px;
            min-width: 16px;
            height: 16px;
            margin-left: 2px;
            margin-right: 8px;
          }
        }
      }
    }
    .products {
      display: flex;
      flex-wrap: wrap;
      gap: 12px;
      row-gap: 35px;
      margin: 10px 24px 0 24px;
      // .product {
      //     width: fit-content;
      // }
      > .product {
        width: calc((100% - 12px) / 2);
        > .thumb-product-l {
          width: 100%;
          height: inherit;
        }
        > .info-product-ver {
          width: 100%;
        }
      }
    }
    .loading {
      display: flex;
      justify-content: center;
      .loading-animation-70-blue {
        background-image: url(../../image/icon/loading-animation-70-blue.gif);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        height: 70px;
        width: 70px;
        display: none;
        &.active {
          display: block;
        }
      }
    }

    .list-horizontal-recommend {
      margin: 35px 0;
      background: $white-milk;
      display: flow-root;
      height: 0;
      &.fadeInTop {
        animation: fadeInTop 0.5s 1 forwards;
      }
      .txt-title {
        @include pre-body-03-bold;
        margin: 0 24px 20px 24px;
        max-width: 220px;
        opacity: 0;
        &.fadeInUp {
          animation: fadeInUp 1.5s 1 forwards;
        }
      }
      .list-product-scrol {
        overflow-x: auto;
        flex-direction: row;
        overflow-y: hidden;
        display: flex;
        &::-webkit-scrollbar {
          display: none;
        }
      }
      .list-product {
        display: flex;
        gap: 10px;
        margin: 0;
        padding: 0 24px;
        opacity: 0;
        &.fadeInRight {
          animation: fadeInRight 1.5s 1 forwards;
        }
      }
    }
  }
}

@keyframes fadeInTop {
  0% {
    height: 0;
    padding: 0;
  }
  100% {
    height: 256px;
    padding: 24px 0;
  }
}

@keyframes fadeInRight {
  0% {
    transform: translateX(160px);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes fadeInRight {
  0% {
    transform: translateX(160px);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes fadeInUp {
  0% {
    transform: translateY(20%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes fadeInHide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


.swiper-content {
  overflow-x: hidden;
  overflow-y: hidden;
}

.product {
  position: relative;
  cursor: default;
  .area_img {
    cursor: pointer;
  }
  .acnchor {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    cursor: pointer;
  }
}

.box-fliter,
.top-box-fliter {
  height: 51px;
  border-top: 1px solid $white-milk;
  height: 51px;
  border-top: 1px solid #f6f6f6;
  position: sticky;
  top: 49px;
  z-index: 100000;
  .fliter {
    background: $white;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
    label {
      @include pre-body-04-bold;
    }
    .btn-box {
      display: flex;
      align-items: center;
      button {
        text-align: center;
        background-color: transparent;
        white-space: nowrap;
        cursor: pointer;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .column {
        width: 1px;
        height: 12px;
        background: #eeeeee;
        margin: 0 10px;
      }
    }
    .btn-listorder {
      span {
        @include pre-body-04-bold;
      }
      i {
        background: url("../../image/icon/ico-dropdown-s.png");
        background-repeat: no-repeat;
        background-size: 16px 16px;
        display: inherit;
        width: 16px;
        min-width: 16px;
        height: 16px;
        margin-left: 3px;
      }
    }
    .btn-fliter {
      &.active {
        color: $blue-dark;
      }
      span {
        @include pre-body-04-bold;
      }
      i {
        margin-left: 3px;
        background: url("../../image/icon/ico-filter.png");
        background-repeat: no-repeat;
        background-size: 16px 16px;
        display: inherit;
        width: 16px;
        min-width: 16px;
        height: 16px;
      }
      .count {
        display: none;
        margin-left: 3px;
      }
    }
  }
}

.top-box-fliter {
  position: fixed;
  display: block;
  visibility: hidden;
  width: 100%;
  max-width: 520px;
  margin: 0 auto;
  > .fliter {
    width: 100%;
  }
  z-index: 10;
}

.line {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px;
  will-change: auto;
  background-color: #000;
  transform: translateX(24px);

  &.top {
    position: fixed;
    left: 0%;
    right: 0%;
    top: 47px;
    z-index: 100;
  }
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 0px;
}

.main .card-pass .card .info .info-product-hor .txt-price .txt-02 .txt-period {
  font-size: 12px;
}

.main {
  .list-product-scrol {
    .list-product {
      display: -webkit-box;
      overflow-x: auto;
      white-space: nowrap;
      width: 100%;
      -ms-overflow-style: none;
      gap: 0;
      &::-webkit-scrollbar {
        display: none;
      }
      .product {
        width: 42%;
        min-width: 136px;
        .thumb-product-xl,
        .thumb-product-m {
          width: 100%;
          height: inherit;
        }
        .txt-name {
          white-space: normal;
        }
      }
      .product + .product {
        margin-left: 10px;
      }
      .product:last-child {
        padding-right: 24px;
      }
    }
  }
}

.main .list-product .list-horizontal-recommend {
  height: 0;
  padding: 0;
}

.list-horizontal-recommend.fadeInTop {
  .list-product-scrol.noSwiper {
    .list-product.fadeInRight {
      display: -webkit-box;
      overflow-x: auto;
      white-space: nowrap;
      width: 100%;
      gap: 0;
      .product {
        min-width: 120px;
        width: 33.3%;
        .thumb-product-s {
          width: 100%;
          height: inherit;
        }
      }
    }
  }
}

.loading {
  margin: 0 auto 70px;
  width: 70px;
  height: 70px;
  .loading-animation {
    width: 100%;
    height: 100%;
  }
}

.btn-filter-scroll {
  overscroll-behavior: contain;
}
