@import "../components/buttons";
@import "../components/popup_dropdown";
@import "../components/input";
@import "../abstracts/spacing";
@import "../base/common.scss";
@import "../base/font";
@import "../base/style";
@import "../components/title";
@import "../components/input";
@import "../components/icon";
@import "../components/select";
@import "../layout/header";
@import "../components/layout";
@import '../components/checkbox';

// BS-001
// <link rel="stylesheet" href="../../styles/css/style.css" />
// <link rel="stylesheet" href="../../styles/css/font.css" />
// <link rel="stylesheet" href="../../styles/css/title.css" />
// <link rel="stylesheet" href="../../styles/css/input.css" />
// <link rel="stylesheet" href="../../styles/css/popup_dropdown.css" />
// <link rel="stylesheet" href="../../styles/css/icon.css" />

// BS-002
// <link rel="stylesheet" href="../../styles/css/style.css" />
// <link rel="stylesheet" href="../../styles/css/font.css" />
// <link rel="stylesheet" href="../../styles/css/select.css" />
// <link rel="stylesheet" href="../../styles/css/title.css" />
// <link rel="stylesheet" href="../../styles/css/popup_dropdown.css" />
// <link rel="stylesheet" href="../../styles/css/header.css" />
// <link rel="stylesheet" href="../../styles/css/layout.css" />
// <link rel="stylesheet" href="../../styles/css/icon.css" />
// <link rel="stylesheet" href="../../styles/css/spacing.css" />

/* .icon_error {
  background: url("../image/icon/ico-error.png");
  background-repeat: no-repeat;
  background-size: 18px 18px;
  display: inherit;
  width: 18px;
  height: 18px;
} */

.login {
  .sub-title {
    margin: 12px 24px 0 24px;
    display: flex;
    align-items: center;
    samp {
      @include pre-body-04-reg;
      color: $white;
      margin-right: 1px;
    }
    .icon {
      background: url("../../image/icon/btn_small.png");
      background-repeat: no-repeat;
      background-size: 14px 14px;
      display: inherit;
      width: 14px;
      height: 14px;
    }
  }
  a.sub-title {
    text-decoration: none;
    width: fit-content;
  }
  .bottom.sub-title {
    width: auto;
    .icon {
      right: 28px;
      position: absolute;
    }
  }
  .form {
    margin: 40px 12px 150px 12px;
    button {
      &.active {
        background: $black;
      }
    }
  }
  .bottom {
    margin: 20px 12px 0 12px;
  }
}

div.footer > button {
  margin-top: 24px;
  width: auto;
}

.title-select {
  @include pre-body-05-med;
  color: $black;
  opacity: 0.2;
  margin-top: 23px;
  margin-left: 24px;
  display: block;
}

.input-default.select {
  .selected {
    @include pre-body-03-med;
    color: #a6a6a6;
    opacity: 1;
  }
}
.input-default {
  margin-bottom: 8px;
}
