@import "../layout/header";
@import "../base/style";
@import "../base/font";
@import "../base/common";
@import "../abstracts/spacing";
@import "../components/layout";
@import "../components/banner";
@import "../components/buttons";
@import "../components/popup_dropdown";
@import "../components/input";
@import "../components/icon";
@import "../components/toast_popup";
@import "../components/_thumb_product";
@import "../components/product";
@import "../components/title";
@import "../components/_card_product";
@import "../components/select";
@import "../components/category_menu_scroll";
@import "../components/list_category";
@import "../components/search";
@import "../components/tabbar_bottom";
@import "../../scss/abstracts/variables";
@import "../base/common.scss";

@import "../pages/Detail-Component.scss";
@import "../pages/Subscribe-Components.scss";






.subscribe-dsp-mo-2-pg-001-1, .subscribe-dsp-mo-2-pg-001-2, .subscribe-dsp-mo-2-pg-001-3, .subscribe-dsp-mo-2-pg-001-4, .subscribe-dsp-mo-2-pg-001-1_1{

  position: fixed;
  width: 100%;
  height: calc(100% - 60px);
  overflow: hidden !important;

  .btn-main-task-floating{
    z-index: 5000;
  }
  
  .btn-main-task{
    bottom : calc(env(safe-area-inset-bottom) + 18px);
    z-index: 500;
  }
  
  
  

  
  
  .header{
    height: 60px;
  }
  
  .content {
    height: min-content;
    overflow-x: hidden;
    padding-bottom: calc(env(safe-area-inset-bottom) + 100px);
    padding-top: 60px;
    .top {
      .txt-num {
        color: $black;
        @include font-package("Pretendard", normal, 700, 12px, 14px, -1px);
        margin: 0 24px;
        margin-top: -2px;
      }
      .bar {
        gap: 4px;
        display: flex;
        padding: 9px 22px 0 22px;
        max-width: 520px;
        div {
          width: 28px;
          height: 2px;
          background: rgba(0,0,0,0.05);
          position: relative;
          overflow: hidden;
          &.active {
            >span{
              display: inline-block;
              position: absolute;
              top : 0;
              left: 0;
              background: rgba(0,0,0,1);
              width: 100%;
              height: 100%;
              transform: translateX(-100%);
              animation-duration: 1s;
            }
          }
  
  
  
        }
      }
      .txt-title {
        margin-top: 40px;
        margin-left: 24px;
        margin-right: 24px;
        .txt-main {
          color: $black;
          width: 250px;
          @include font-package(
            "T Universe Sans TTF",
            normal,
            500,
            28px,
            32px,
            -1px
          );
          .txt-username {
            &.txt-ellip {
              max-width: 140px;
              overflow:hidden;
              text-overflow:ellipsis;
              white-space:nowrap;
              display: inline-block;
            }
            vertical-align: top;
          }
          .txt-product, .txt-keyword {
            &.txt-ellip {
              max-width: 180px;
              overflow:hidden;
              text-overflow:ellipsis;
              white-space:nowrap;
              display: inline-block;
            }
            vertical-align: top;
          }
          .txt-category {
            &.txt-ellip {
              max-width: 230px;
              overflow:hidden;
              text-overflow:ellipsis;
              white-space:nowrap;
              display: inline-block;
            }
            vertical-align: top;
            >.separator{
              display: inline-block;
              margin: 0 6px;
              vertical-align: top;
            }
          }
        }
        .txt-sub {
          margin-top: 8px;
          @include font-package("Pretendard", normal, "", 14px, 20px, -1px);
          color: $black;
          max-width: 230px;
          display: -webkit-box;
          .txt-num {
            @include font-package("Pretendard", normal, normal, 14px, 20px, -1px);
            max-width: 20px;
            margin: 0;
            @include hiddenLine(1);
          }
        }
      }
    }
    .list-product {
      margin-top: 40px;
      display: flex;
      flex-direction: column;
      gap: 10px;
  
      min-height: calc(100vh - 330px);
  
  
      &.gap-12 {
          gap: 12px;
      }
    a{
      margin-left: 24px;
      margin-right: 24px;
    }
     .product {
        display: flex;
        // gap: 18px;
        align-items: center;
        .info-product-hor-1 {
          .txt-brand {
            max-width: 230px;
            color: $dark-gray;
            @include font-package("Pretendard", normal, 500, 12px, 14px, -1px);
            span {
              max-width: 124px;
              @include hiddenLine(1);
            }
          }
          .txt-name {
            width: 170px;
            @include font-package("Pretendard", normal, 700, 14px, 20px, -1px);
            color: $black;
          }
        }
      }
    }
  
  
  }
  .swiper-autoheight, .swiper-autoheight .swiper-slide{
    overflow: hidden !important;
  }
  
  .list-header-button{
    padding-right: 20px;
  }
  
  .list-header-button{
    padding-top: 20px;
    .btn-header-home{
      width: 28px;
      height : 28px;
    }
  }
  
  .touchLeft{
    position: fixed;
  
    top : 10%;
    left: 0;
    height: 80%;
    width: 60px;
    z-index: 1000;
  }
  
  .touchRight{
    position: fixed;
  
    top : 10%;
    right : 0;
    height: 80%;
    width: 60px;
    z-index: 1000;
  }
  
  
  .content .top .bar div { width: calc(100% - 44px); flex: 1 }
  
  
  
}











.subscribe-ust-mo-2-pg-001{
    overflow: hidden;
  
  
    .btn-main-task{
      bottom : calc(env(safe-area-inset-bottom) + 18px);
    }
    
    .content {
      padding-bottom: calc(env(safe-area-inset-bottom) + 70px);
      .txt-title {
        @include font-package("T Universe Sans TTF", normal, 500, 28px, 32px, -1px);
        color: $black;
        margin: 0 24px;
        padding-top: 80px;
      }
      .txt-sub {
        color: #a0a0a0;
        text-align: center;
        @include font-package("Pretendard", normal, 500, 12px, 14px, -1px);
        margin: 0 12px;
        padding: 0 30px;
        margin-bottom: 28px;;
      }
      .card_product {
        padding: 30px 0;
        display: flex;
        align-items: center;
        align-content: center;
        height: calc(100vh - 294px);
        .group {
          box-shadow: none;
          display: flex;
          flex-direction: column;
          gap: 18px;
          padding: 0 24px;
          .item {
            padding: 0;
            margin: 0;
            & + .item {
              margin-top: 0;
            }
            a {
              display: flex;
              align-items: center;
              padding: 0;
              .thumb-logo {
                margin-top: 0;
                width: 60px;
                height: 60px;
                >.obj{
                  >img{
                    width: 100%;
                    height: 100%;
                  }
                }
              }
              .txt {
                margin-left: 20px;
                display: flex;
                flex-direction: column;
                gap: 6px;
                .txt_name{
                  @include pre-body-03-bold;
                  color: $black;
                }
                .txt_status{
                  @include pre-body-05-med;
                  color: #A0A0A0;
                }
              }
            }
          }
        }
      }
    }
    
}
  
  




.subscribe-mem-mo-pg-001-1, .subscribe-mem-mo-pg-001-2 {
    .terms {
      font-size: 24px;
      line-height: 30px;
    }
    .form {
      margin-top: 22px;
      .detail {
        // opacity: 0.3;
        height: calc(100vh - 254px);
        width: 100%;
        margin-top: 16px;
      }
    }
    .heading {
      @include pre-body-03-bold;
      color: $black;
    }
    .txt {
      @include pre-body-04-reg;
      color: $black;
    }
    .popup-full {
      &.show {
        position: inherit;
      }
    }
    
    .title{
      font-size: 24px;
      line-height: 30px;
      letter-spacing: -1px;
      font-weight: 500;
    }
    
    select.form-control {
      border: none;
      font-family: "Pretendard";
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: -1px;
      color: #000000;
      background: #f6f6f6;
      height: 20px;
      margin: 0px;
      background: url(../../image/icon/btn_down.png) no-repeat right #f6f6f6;
      -webkit-appearance: none;
      background-size: 20px 20px;
      display: inherit;
      width: 100%;
    }
  }









@keyframes topToDown {
    0% {
      transform: translate(0px, -30px);
    }
    50% {
      transform: translate(0px, 0px);
    }
    100% {
      transform: translate(0px, -30px);
    }
  }
  @keyframes downToTop {
    0% {
      transform: translate(0px, 0px);
    }
    50% {
      transform: translate(0px, -30px);
    }
    100% {
      transform: translate(0px, 0px);
    }
  }
  
  .subscribe-dsp-mo-2-pg-001a, .subscribe-dsp-mo-2-pg-001b{
    background-color: #F6F6F6;
    .header-home{
      left: 50%;
      transform: translateX(-50%);
    }
  

    .group-poup{
      position: relative;
    }
  
    .section{
    
      display: flex;
      flex-direction: column;
    
      .btn-gray-stroke{
        align-self: center;
      }
    }
    .context .component-title .title .txt-username{
      display: inline-block;
      vertical-align: top;
    }
    
    
    
    .card-context {
      .card-body {
        width: 100%;
        height: 306px;
      }
      .card-box {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        overflow: hidden;
        animation: unset;
        .slider {
          display: flex;
          position: relative;
        }
        .card {
          text-decoration: none;
          position:absolute;
          background: $white;
          box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1),
            inset 0px 2px 0px rgba(255, 255, 255, 0.2);
          border-radius: 30px;
          margin-right: 7px;
          width: 146px;
          height: 194px;
          display: flex;
          align-self: flex-end;
          bottom: 50px;
          &.googleone {
            background: #db4437;
          }
          &.googleoneWhile {
            background: #fff;
          }
          &.paulbassett {
            background: #000000;
          }
          &.rectangle {
            background: #0052ff;
          }
          &.topToDown {
            animation: topToDown 4s linear infinite;
          }
          &.downToTop {
            animation: downToTop 4s linear infinite;
          }
          .title-white {
            label {
              color: #ffffff !important;
            }
            h2 {
              color: #ffffff !important;
            }
          }
          .card-image {
            height: 146px;
            width: 146px;
            bottom: 103px;
            position: absolute;
            display: flex;
            img {
              width: 100%;
            }
          }
          .card-title {
            width: 144px;
            align-self: flex-end;
            margin: 0 16px 22px 18px;
            label {
              @include t-title_02;
              color: #000000;
              max-width: 70px;
              display: block;
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap;
            }
            h2 {
              @include font-pretendard;
              font-style: normal;
              font-weight: 500;
              font-size: 20px;
              line-height: 26px;
              letter-spacing: -1px;
              color: #000000;
              margin: 0;
              margin-top: 5px;
              max-width: 110px;
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
              overflow: hidden;
            }
          }
        }
      }
    }
    
    .package-list .list .product{
      width: 100%;
      cursor: pointer;
    }
    .product {
      width: 100%;
      cursor: pointer;
    }
    
    .list-product-vertical{
      .product{
        width: inherit;
      }
    }
    
    .thumb-product-m{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    
    
    .list-product-large{

      .component-title{
        .title{
          font-family: "T Universe Sans TTF";
          font-weight: 500;
          font-size: 32px;
          line-height: 36px;
          letter-spacing: -1px;
          max-width: 230px;
          max-height: 72px;
          overflow: hidden;
        }
      }
      .list-product-scrol{
        height: 386px;
      }
      .list-product{

        display: flex;
        gap: 8px;
        padding: 0 24px;
        flex-direction: row;
        overflow-x: scroll;
        padding-bottom: 20px;
        margin: 0;
        &::-webkit-scrollbar {
          display: none;
        }
        .product{
          background: #FFFFFF;
          box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
          border-radius: 30px;
          padding: 24px;
          width: fit-content;
          height: 366px;

        }
      }
    }
    
    .wrap-btn-med{
      width: 100%;
      display: flex;
      justify-content: space-around;
    }
    
    
    .tabbar-bottom{
      position: fixed;
    }
    

    
    .card-noti{
      >.item{
        padding-top:19px;
        padding-bottom:19px;
        border-radius: 25px;
        .txt 
        {
          margin-right: 12px;
          margin-left: 14px;
          > p {
            margin-top: 0;
          }
        }
      }
    }
    
    .component-title {
      >.title {
          @include font-t-universe;
          font-weight: 500;
          font-size: 28px;
          line-height: 32px;
          letter-spacing: -1px;
        }
      }
    
    
      .survey .result .thumb-product-s .info-product-hor-1 .txt-price .txt-period{
        margin-top: 4px;
      }
    
      .btn-survey-option{
        .txt-option{
          text-align: left;
        }
      }
    
      .txt_category{
        margin-left: 1px;
      }
    
    
    
      .tabbar-bottom{
        a{
          &:first-child{
            width: 103px;
          }
          &:last-child{
            width: 103px;
          }
        }
      }
    
    
    
      .pageindicator{
        width: 22px;
      }
    
    
      .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
        display: inherit;
        text-align: center;
      }
    
    
      .swiper-slide{
        .info-product-hor-1{
          margin-left: 0px;
        }
      }
    
      
      .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{
        margin : 0 var(--swiper-pagination-bullet-horizontal-gap,2.5px) !important;
      }
    
  
  
  
  
  }  
  
  
  
  
  