@import "../resources/styles/font.css";
@import "../../../styles/scss/base/common.scss";

.t-component-container {
  background-color: #fff;
}
.t-component-guide {
  width: calc(100% - 80px);
  margin: 40px;
  padding: 40px;
  box-sizing: border-box;
  background-color: #cecece;

  .guide-header {
    .header {
      position: relative;
      max-width: 360px;
      margin: unset;
    }
  }
  .t-guide-title {
    @include font-t-universe;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    color: #3617ce;
  }
  .t-component-title {
    @include pre-body-03-med;
    width: max-content;
    padding: 10px 0;
    min-width: 200px;
  }
  .t-component {
    padding: 20px 0;
  }
}
