<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1,viewport-fit=cover,maximum-scale=1,user-scalable=no" />
        <meta name="theme-color" content="#fff" media="(prefers-color-scheme: light)" />
        <meta name="theme-color" content="#fff" media="(prefers-color-scheme: dark)" />
        <title>T universe | 공통 컴포넌트</title>
        <meta name="description" content="공통 컴포넌트" />
        <meta property="og:title" content="T universe" />
        <meta property="og:description" content="공통 컴포넌트" />
        <meta property="og:type" content="website" />
        <link rel="stylesheet" href="./guide.css">
        <link rel="stylesheet" href="../resources/styles/header.css">
        <link rel="stylesheet" href="../resources/styles/reset.css">
    </head>
    <body>
        <div class="t-component-container">
            <div class="t-component-guide">
                <div class="t-guide-title">Header</div>
                <div class="t-guide-content guide-header">

                    <!-- component : header-main-01 -->
                    <!-- 
                        수정 내역
                        YYYYMMDD - 수정 내역
                        ex) 20230419 - 버튼 배경색 변경 : #000000 -> #666666
                    -->
                    <div class="t-component">
                        <div class="t-component-title">header-main-01</div>
                        <div class="header header-main">
                            <div class="ui-container">
                                <button class="button-back">
                                    <span class="icon"></span>
                                </button>
                            </div>
                        </div>
                    </div>
    
                    <!-- component : header-main-02 -->
                    <!-- 
                        수정 내역
                    -->
                    <div class="t-component">
                        <div class="t-component-title">header-main-02</div>
                        <div class="header header-main">
                            <div class="ui-container">
                                <button class="button-back">
                                    <span class="icon"></span>
                                </button>
                                <div class="header-title">Google로 로그인</div>
                            </div>
                        </div>
                    </div>

                    <!-- header-bottomsheet -->
                    <!-- 
                        수정 내역
                    -->
                    <div class="t-component">
                        <div class="t-component-title">header-bottomsheet</div>    
                        <div class="header header-bottomsheet">
                            <div class="ui-container">
                                <button class="button-close">
                                    <span class="icon"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="../../../scripts/untils.js"></script>
    </body>
</html>
